@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-color: #2d2d2d;
    --secondary-color: #d4b996ff;
}
body {
    background-color: var(--primary-color) !important;
}
html {
    font-size: 75.5%;
}
.container-navbar {
    padding: 0;
    justify-content: space-between;
}

.card-livro {
    /* position: relative;
    display: flex; */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-column-gap: 25px;
    column-gap: 25px;
}
.livro-fundo {
    width: 100%;
}
.thumbnail {
    height: 190px;
    width: 120px;
    cursor: pointer;
    /* position: absolute; */
    box-shadow: 10px 5px 5px #0000005e;
}
.thumbnail:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.title {
    /* text-align: center; */
    color: white;
    /* font-size: 14px; */
    /* height: 50px; */
}
.info {
    padding: 10px;
}
.container {
    max-width: none !important;
    margin: 14px 30px !important;
}
.header {
    width: 100%;
    height: 250px;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}

.dark {
    background-color: #393939;
}
img.imagemFundo {
    width: 50% !important;
    margin-top: 20px;
}
.row2 {
    position: absolute;
    top: 10px;
    right: 150px;
    text-align: center;
}
.row2 h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
}
.row2 img {
    margin-top: 30px;
    width: 250px;
}
.row1 h1 {
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
    color: #cca079;
    font-family: "Bodoni Moda", serif;
}
.input-search {
    height: 40px !important;
    background-color: #393939 !important;
    border-color: #393939 !important;
    border-radius: 20px !important;
    padding-left: 20px !important;
    color: white !important;
}
.form-button {
    margin-left: -43px !important;
    padding-right: 15px !important;
    border: none !important;
    border-radius: 0 20px 20px 0 !important;
}
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(233 233 233 / 25%) !important;
}
.form-search {
    margin: 10px 35px;
}
.form-search-navbar {
    width: 50%;
}
.container-cards {
    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.nav-link-home {
    cursor: pointer;
}
.home {
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input {
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}
.search button {
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
}
.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
}

.card {
    background-color: var(--secondary-color);
    border-radius: 2rem !important;
    padding: 15px !important;
    margin-bottom: 10px;
    /* box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5); */
    transition: 0.5s;
    text-align: center;
    position: relative;
}
.card:hover {
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.8);
}
.card img {
    width: 100%;
    height: 300px;
    border-radius: 2rem 2rem 0;
}
.card .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .bottom .amount {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem;
}
.favorito {
    bottom: 10px;
    position: relative;
    z-index: 3;
    font-size: 2rem;
    color: white;
    background: #4c4c4c;
    padding: 4px 9px;
    border-radius: 23px;
}

.favoritado {
    color: #ff0000 !important;
}

.favorito:hover {
    color: #ff0000;
    cursor: pointer;
}

.descricao button {
    border: none;
}

.overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner {
    text-align: center;
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}
.inner-box {
    text-align: center;
}
.overlay-inner .inner-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img {
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3 {
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4 {
    color: blue;
}
.overlay-inner .inner-box button {
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.description {
    text-align: justify;
    font-size: 13px;
    padding: 10px;
}
.btn-ver-mais {
    padding: 10px !important;
}
.modal-header {
    text-align: center;
}

.active {
    color: white;
}
